.studentsTable {
  padding: 10px;
  width: 100%;
  height: 70vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.searchStudents {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px;
  width: 100%;
}
.studentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: solid 1px black;
  margin-bottom: 3px;
}
.searchText {
  flex: 2;
}
.searchBtn {
  flex: 8;
}
